on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "**" ]

name: Continuous Integration

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check out tensorflow
        uses: actions/checkout@v2
        with:
          repository: tensorflow/tensorflow
          ref: v1.15.2
          path: tensorflow
          fetch-depth: 1

      - name: Set proto source environment variable
        run: echo "::set-env name=TENSORFLOW_PROTO_SOURCE::$GITHUB_WORKSPACE/tensorflow"

      - name: Get clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: clippy

      - name: Run clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --all-targets -- -Dclippy::all -Dunused_imports

      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features --all-targets

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --all-targets
