on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "**" ]

name: Continuous Integration

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
        use_upstream_tensorflow:
          - true
        tensorflow_version:
          - v1.15.2
          - v1.15.3
          - v2.0.0
          - v2.0.1
          - v2.0.2
        include:
          # v2.1.0 introduces a protobuf "import public" that prost doesn't work with
          # because prost requires all protos to have a package declaration.
          - rust: stable
            use_upstream_tensorflow: false
          - rust: beta
            use_upstream_tensorflow: false
          - rust: nightly
            use_upstream_tensorflow: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check out tensorflow
        uses: actions/checkout@v2
        if: ${{ matrix.use_upstream_tensorflow }}
        with:
          repository: tensorflow/tensorflow
          ref: ${{ matrix.tensorflow_version }}
          path: tensorflow
          fetch-depth: 1

      - name: Set proto source environment variable
        if: ${{ matrix.use_upstream_tensorflow }}
        run: echo "::set-env name=TENSORFLOW_PROTO_SOURCE::$GITHUB_WORKSPACE/tensorflow"

      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run clippy
        uses: actions-rs/clippy-check@v1
        if: ${{ !matrix.use_upstream_tensorflow }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --all-targets -- -Dclippy::all -Dunused_imports

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --all-targets
